[submodule "develop"]
	path = dev
  url = https://github.com/lordlaundry/lordlaundry.github.io
  branch = develop
[submodule "new"]
	path = new
  branch = from-scratch
	url = https://github.com/lordlaundry/lordlaundry.github.io
